$black : #FEFEE7;
$green : #A4D0C4;
$teal : #72C4B9;
$grey : #9A9C9F;
$light : #0F0F0D;

html, body {
  background-color: $teal;
}

.btn {
  background-color: $black;
  border: $black;
  color: $grey;
}

.btn:hover {
  background-color: $grey;
  color: $light;
}

.panel {
  background-color: $grey;
}

.jumbotron {
  background-color: $grey;
}

img {
  float: right;
}

#form {
  margin-bottom: 20px;
  border-bottom: 3px solid $black;
  padding-bottom: 20px;
}
